NEXT_PUBLIC_USE_MOCK=false
NEXT_PUBLIC_API_BASE_URL=https://uegwiu7xgi.execute-api.us-east-1.amazonaws.com/
NEXT_PUBLIC_APP_NAME=BioActiva CRM
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LcZCQstAAAAAJ8XixkofqlEE4iGalfSvdpYiG7t